{% extends 'base.html' %}

{% block content %}
  <div class="card bg-dark p-3 mb-3">
    <div class="card-body">
      <h1>Input your car details</h1>
      <form method="post">
        {% csrf_token %}
        {{ car_form.errors }}
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="brand" id="id_brand" maxlength="128" required placeholder="brand">
          <label for="brand">Brand</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="model" id="id_model" maxlength="128" required placeholder="model">
          <label for="model">Model</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="color" id="id_color" maxlength="128" required placeholder="color">
          <label for="color">Color</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="release_year" id="id_release_year" maxlength="4" required placeholder="release_year">
          <label for="release_year">Release Year</label>
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}