{% extends 'base.html' %}

{% block content %}
  <div class="row g-3 mb-5">
    <h1 class="display-1">Change Your Car</h1>
    <form class="row g-3" action="{% url 'accounts:car_edit' car.pk %}" method="post">
      {% csrf_token %}
      {{ form.errors }}
      <div class="col-12 col-lg-6">
        <label class="form-label" for="id_brand">Brand</label>
        <input type="text" class="form-control" name="brand" id="id_brand" maxlength="128" required value="{{ car.brand }}" placeholder="Enter automobile brand name of your car">
      </div>
      <div class="col-12 col-lg-6">
        <label class="form-label" for="id_model">Model</label>
        <input type="text" class="form-control" name="model" id="id_model" maxlength="128" required value="{{ car.model }}" placeholder="Enter model name of your car">
      </div>
      <div class="col-12 col-lg-6">
        <label class="form-label" for="id_color">Color</label>
        <input type="text" class="form-control" name="color" id="id_color" maxlength="128" required value="{{ car.color }}" placeholder="Enter color of your car">
      </div>
      <div class="col-12 col-lg-6">
        <label class="form-label" for="id_release_year">Release Year</label>
        <input type="text" class="form-control" name="release_year" id="id_release_year" maxlength="4" required value="{{ car.release_year }}" placeholder="Enter release year of your car">
      </div>
      <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-lg btn-outline-light" type="submit">Save</button>
      </div>
    </form>
  </div>
{% endblock %}