{% extends 'base.html' %}

{% block content %}
  <div class="row g-3 mb-5">
    <h1 class="display-1">Add Your Company</h1>
    <form class="row g-3" action="{% url 'accounts:company_create' %}" method="post">
      {% csrf_token %}
      {{ form.errors }}
      <div class="col-12 col-lg-6">
        <label class="form-label" for="id_name">Name of Company</label>
        <input type="text" class="form-control" name="name" id="id_name" maxlength="128" required placeholder="Enter your company name">
      </div>
      <div class="col-12 col-lg-6">
        <label class="form-label" for="id_email">Company Email</label>
        <input type="text" class="form-control" name="email" id="id_email" maxlength="128" required placeholder="Enter your company email">
      </div>
      <div class="col-12 col-lg-6">
        <label class="form-label" for="id_color">Choose Provided Services</label>
        {% regroup form.services.field.queryset by get_category_display as categories %}
        {% for category in categories %}
          <h6 class="mt-2">{{ category.grouper }}</h6>
          {% for service in category.list %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="services" value="{{ service.id }}" id="id_services_{{ service.id|add:-1 }}">
              <label class="form-check-label text-white" for="id_services_{{ service.id|add:-1 }}">{{ service.name }}</label>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
      <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-lg btn-outline-light" type="submit">Add</button>
      </div>
    </form>
  </div>
{% endblock %}
