{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="mx-auto col-lg-8 card bg-dark">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-sm-12">
        <div class="card-body">
          <h1>Sign In</h1>
          <p>Text</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 col-sm-12">
        <div class="card-body">
          <div class="form signin px-1">
            <form id="sign_in" class="form-signin" action="{% url 'accounts:sign_in' %}" method="post">
              {% csrf_token %}
              {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  Wrong username and (or) password!
                </div>
              {% endif %}
              <div class="form-floating">
                <input type="email" class="form-control signin-email" name="username" required id="id_username" placeholder="username">
                <label for="id_username">Email</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control signin-password" name="password" required id="id_password"
                       autocomplete="current-password" placeholder="password">
                <label for="id_for_password">Password</label>
              </div>
              <div class="mb-3 row">
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="remember_me" id="remember_me">
                    <label class="form-check-label" for="remember_me">Remember me</label>
                  </div>
                </div>
                <div class="col text-end">
                  <a href="{% url 'accounts:password_reset' %}">Forgot password?</a>
                </div>
              </div>
              <div class="mb-3 d-flex justify-content-center">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
              </div>
              <div class="col">
                If you are new user, then <a href="{% url 'accounts:sign_up' %}" class="link-danger">sign up</a>.
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
