{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="mx-auto col-lg-8 card bg-dark">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-sm-12">
        <div class="card-body">
          <h1>Sign Up</h1>
          <p>Text</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 col-sm-12">
        <div class="card-body">
          <div class="form login px-1">
            <form id="sign_up" class="form-signin" action="{% url 'accounts:sign_up' %}" method="post">
              {% csrf_token %}
              {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  Wrong username and (or) password!
                </div>
              {% endif %}
              <div class="form-floating">
                <input type="email" class="form-control" name="email" id="id_email" required placeholder="email">
                <label for="id_email">Email</label>
                <div id="id_for_email_tooltip" class="invalid-tooltip invisible"></div>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" name="password1" id="id_for_password1" required placeholder="password">
                <label for="id_for_password1">Password</label>
                <div id="id_for_password1_tooltip" class="invalid-tooltip invisible"></div>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" name="password2" id="id_for_password2" required placeholder="password">
                <label for="id_for_password2">Password (again)</label>
                <div id="id_for_password2_tooltip" class="invalid-tooltip invisible"></div>
              </div>
              <div class="d-flex justify-content-center">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<script>
    const form = document.querySelector('#sign_up');
    const errorDiv = document.querySelector('#show-error');
    const email = document.querySelector('#id_email');
    const firstPassword = document.querySelector('#id_for_password1');
    let firstPasswordTooltip = document.querySelector('#id_for_password1_tooltip')
    const secondPassword = document.querySelector('#id_for_password2');
    let secondPasswordTooltip = document.querySelector('#id_for_password2_tooltip');


    form.addEventListener('submit', (error) => {
        if (firstPassword.value.length < 8 || firstPassword.value.length > 20) {
            error.preventDefault();
            firstPassword.classList.add("is-invalid");
            firstPasswordTooltip.classList.remove('invisible');
            firstPasswordTooltip.innerText = 'Password length must be 8-20 symbols!';
        };

        if (firstPassword.value !== secondPassword.value) {
            error.preventDefault();
            secondPassword.classList.add("is-invalid");
            secondPasswordTooltip.classList.remove('invisible');
            secondPasswordTooltip.innerText = 'Passwords does not match!';
        };
    });
</script>