{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="mx-auto col-lg-8 card bg-dark">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-sm-12">
        <div class="card-body">
          <h1 class="mb-4">Sign Up</h1>
          <h6>Password</h6>
          <p>{{ form.password1.help_text }}</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 col-sm-12">
        <div class="card-body">
          <form id="sign_up" class="row g-3" action="{% url 'accounts:sign_up' %}" method="post">
            {% csrf_token %}
            {{ form.errors }}
            <div class="col-md-6">
              <label for="id_first_name" class="form-label" >First name</label>
              <input type="text" class="form-control" name="first_name" id="id_first_name" maxlength="150" required placeholder="John">
            </div>
            <div class="col-md-6">
              <label for="id_last_name" class="form-label">Last name</label>
              <input type="text" class="form-control" name="last_name" id="id_last_name" maxlength="150" required placeholder="Lennon">
            </div>
            <div class="col-12">
              <label class="form-label" for="id_email">Email</label>
              <input type="email" class="form-control" name="email" id="id_email" required placeholder="johnlennon@gmail.com">
            </div>
            <div class="col-md-6">
              <label class="form-label" for="id_password1">Password</label>
              <input type="password" class="form-control" name="password1" id="id_password1" required placeholder="8-20 symbols">
            </div>
            <div class="col-md-6">
              <label class="form-label" for="id_password2">Password (again)</label>
              <input type="password" class="form-control" name="password2" id="id_password2" required placeholder="">
            </div>
            <div class="d-flex justify-content-center mt-4">
              <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<script>
    const form = document.querySelector('#sign_up');
    const errorDiv = document.querySelector('#show-error');
    const email = document.querySelector('#id_email');
    const firstPassword = document.querySelector('#id_password1');
    let firstPasswordTooltip = document.querySelector('#id_password1_tooltip')
    const secondPassword = document.querySelector('#id_password2');
    let secondPasswordTooltip = document.querySelector('#id_password2_tooltip');


    form.addEventListener('submit', (error) => {
        if (firstPassword.value.length < 8 || firstPassword.value.length > 20) {
            error.preventDefault();
            firstPassword.classList.add("is-invalid");
            firstPasswordTooltip.classList.remove('invisible');
            firstPasswordTooltip.innerText = 'Password length must be 8-20 symbols!';
        };

        if (firstPassword.value !== secondPassword.value) {
            error.preventDefault();
            secondPassword.classList.add("is-invalid");
            secondPasswordTooltip.classList.remove('invisible');
            secondPasswordTooltip.innerText = 'Passwords does not match!';
        };
    });
</script>