body {
  background: #000000;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica;
}

a {
  color: #fff;
}

.big {
  font-size: 1.2em;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 15px;
}

.custom-dropdown select {
  display: inline-block;
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  font-size: inherit;
  padding: 22px;
  padding-right: 2.5em;
  margin: 0px;
  border-radius: 10px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-appearance: button;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, .3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, .1);
}

.custom-dropdown::before {
  background-color: rgba(0, 0, 0, .15);
}

.custom-dropdown::after {
  color: rgba(0, 0, 0, .4);
}

button {
  display: inline-block;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}
    
.col {
    flex: 1 0 0%;
    font-size: 18px;
}

.col table {
  margin: auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.menu {
  margin: auto 50px;
  width: inherit;
  text-align: end;
}

.menu a {
  font-size: 20px;
  padding: 0px 25px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin: auto 50px;
}

input {
  display: inline-block;
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  font-size: inherit;
  padding: 16px;
  padding-right: 2.5em;
  margin: 0px;
  border-radius: 10px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-appearance: button;
}

.timer {
  font-size: 28px;
  font-weight: bold;
}