{% if auctions %}
  <div class="list-group">
    {% for auction in auctions %}
      <div class="list-group-item bg-warning list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><span class="badge bg-danger">Аукцион</span> {{ auction.chosen_service }}</h5>
        </div>
        <small class="datetime-end">{{ auction.datetime_end|date:'Y-m-d H:i:s' }}</small>
        <div class="timer"></div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p class="card-text">Выберите услугу из списка предложенных, запустите аукцион и ждите, когда будет разыграно право
  на выполнение вашего заказа.</p>
{% endif %}

<script>
    document.querySelectorAll('.list-group-item').forEach(function(item) {
        let timer = item.getElementsByClassName('timer')[0];
        let datetimeEnd = Date.parse(item.getElementsByClassName('datetime-end')[0].innerHTML)

        const timerInterval = setInterval(() => {
            let diff = datetimeEnd - Date.now();
            const days = Math.floor(diff / 86400000);
            diff -= days * 86400000;
            const hours = Math.floor(diff / 3600000);
            diff -= hours * 3600000;
            const mins = Math.floor(diff / 60000);
            diff -= mins * 60000;
            const secs = Math.floor(diff / 1000);
            timer.innerHTML = `${hours}:${mins}:${secs}`
        }, 1000);

        setTimeout(() => {
            clearInterval(timerInterval);
            timer.innerHTML = 'Аукцион закончен. Страница обновится, когда будет оформлен заказ';
        }, datetimeEnd - Date.now());

        setTimeout(() => {
            document.location.reload();
        }, datetimeEnd - Date.now() + 60000);
    });
</script>