{% load static %}
<html>

<head>
  <title>основное </title>
  <link rel="stylesheet" href="{% static 'base.css' %}">
</head>

<body {% if auction.is_finished %}{% elif auction %}onload="countdownTimeStart()"{% endif %}>
  <header>
    <div class="logo">
      <a href="/"><img src="{% static 'catlogo.jpg' %}" height="250px"></a>
    </div>
    <div class="title">
      <a href="/">АВТОПРИЛОЖЕНИЕ</a>
    </div>
  </header>
  <a name="start"><h2>Добрый день, <a href="ChangeProfileInfo.html">{{ user }}</a></h2></a>
  <h1>Ваш автомобиль</h1>
  <div class="row" style="width: fit-content; margin: 0 auto">
    <div class="col">
      <img src="{% static 'auto.jpg' %}" width="600px">
    </div>
    <div class="col" style="margin: auto 250px;">
      <h3>
        <p>Марка: {{ car.brand }}</p>
        <p>Модель: {{ car.model }}</p>
        <p>Год выпуска: {{ car.release_year }}</p>
        <p>Цвет: {{ car.color }}</p>
      </h3>
      <a href="">Редактировать информацию </a>
    </div>
  </div>
  {% if auction.is_finished %}
    <div class="row">
      <div class="col">
        Подбор завершён!
        <p><b>Услуга: </b>{{ auction.chosen_service }}</p>
        <p><b>Исполнитель: </b>{{ auction.order_set.first.company }}</p>
        <p><b>Цена: </b>{{ auction.order_set.first.cost }} ₽</p>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col">
        <h1>Выбор услуги</h1>
        <form method="post">
          {% csrf_token %}
          <span class="custom-dropdown big">
          <select name="chosen_service">
            <optgroup label="Ремонт">
              {% for service in repair %}
                <option value="{{ service.id }}">{{ service }}</option>
              {% endfor %}
            </optgroup>
            <optgroup label="Обслуживание">
              {% for service in maintenance %}
                <option value="{{ service.id }}">{{ service }}</option>
              {% endfor %}
            </optgroup>
          </select>
        </span>
          <button id="button" type="submit">
            <img src="{% static 'icon.png' %}"
                 style="height: 25px; vertical-align: middle; padding-right: 5px;">
            Начать поиск исполнителя
          </button>
          <p class="timer" id="timer"></p>
        </form>
      {% endif %}
        <script>
        function addHours(date, minutes) {
            const newDate = new Date(date);
            newDate.setMinutes(newDate.getMinutes() + minutes);
            return newDate;
          }

        function countdownTimeStart() {
            const date = new Date('{{ auction.timer_start.isoformat }}');
            const newDate = addHours(date, 2);
            var countDownDate = newDate.getTime();

            // Update the count down every 1 second
            var x = setInterval(function () {
                var now = new Date().getTime();
                var distance = countDownDate - now;
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                document.getElementById("button").innerHTML = "Идет поиск исполнителя...";
                document.getElementById("timer").innerHTML = "Осталось: " + minutes + ":" + seconds;

                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("button").innerHTML = "Исполнитель найден";
                    document.getElementById("timer").innerHTML = "";
                    location.reload();
                }
            }, 1000);
        }
      </script>
    </div>
  </div>
</body>

</html>