{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="row" style="width: fit-content; margin: 0 auto; text-align: left;">
  <ul>
    <li><a href="{% url 'car' %}">Войти в личный кабинет</a></li>
    <li><a href="">Редактировать информацию об автомобиле</a></li>
    <li><a href="{% url 'password_change' %}">Смена пароля</a></li>
    <li><a href="{% url 'logout' %}">Выйти из профиля</a></li>
  </ul>
</div>
{% else %}
<h1 id="login">Вход</h1>
<div class="row">
  <div class="col">
    <form method="post">
      {% csrf_token %}
      <table>
        <tbody>
          <tr>
            <td><b style="margin-right: 15px;">Логин:</b></td>
            <td>{{ login_form.username }}</td>
          </tr>
          <tr>
            <td><b style="margin-right: 15px;">Пароль:</b> </td>
            <td>{{ login_form.password }}</td>
          </tr>
        </tbody>
      </table>
      <input type="hidden" name="button-name" id="button-name" value="" />
      <button type="submit" name="login-button" id="login-button" onclick="changeValue()">Войти</button>
      <script>
        function changeValue() {
          document.getElementById('button-name').value = "login"
        }
      </script>
    </form>
  </div>
</div>
{% endif %}
<h1 id="about">О нас</h1>
<div class="row" style="max-width: 900px; margin-right: auto; margin-left: auto">
  <div class="col">
    Мы компания, которая занимается упрощением предоставления услуг для вашего транспортного средства и не только. С
    нами сотрудничают большое количество известных компаний, занимающихся ремонтом и обслуживанием вашего автомобиля.
    Наши партнеры предоставляют только высококачественные услуги по низким ценам, убедитесь в этом сами!
  </div>
</div>
<h1 id="partnership">Как с нами сотрудничать?</h1>
<div class="row">
  <div class="col">
    Иван Михайлович
    <a href="mailto:alkorol98@mail.ru">alkorol98@mail.ru</a>
  </div>
</div>
<h1 id="apps">Скачать приложение</h1>
<div class="row">
  <div class="col">
    <a href="https://play.google.com/store/apps?hl=ru">
      <img
        src="https://images.squarespace-cdn.com/content/v1/5ca7a0a965a707bb2efd6593/1623775265316-R68UXL2RC990QW6H70XB/google+play+button+-+white.png"
        style="height:100px; padding-right: 15px;">
    </a>
    <a href="https://apps.apple.com">
      <img src="https://icon-library.com/images/download-app-store-icon/download-app-store-icon-9.jpg"
        style="height: 100px;">
    </a>
  </div>
</div>
{% if user.is_authenticated %}
{% else %}
<h1 id="register">Регистрация</h1>
<div class="row">
  <div class="col">
    <form method="post">
      {% csrf_token %}
      <table>
        <tbody>
          <tr>
            <td><b style="margin-right: 15px;">Введите логин:</b></td>
            <td>{{ registration_form.username }}</td>
          </tr>
          <tr>
            <td><b style="margin-right: 15px;">Придумайте пароль:</b> </td>
            <td>{{ registration_form.password1 }}</td>
          </tr>
          <tr>
            <td><b style="margin-right: 15px;">Подтвердите пароль:</b> </td>
            <td>{{ registration_form.password2 }}</td>
          </tr>
        </tbody>
      </table>
      <input type="hidden" name="button-name" id="button-name" value="" />
      <button type="submit" name="register-button" id="register-button">Зарегистрироваться</button>
    </form>
  </div>
</div>
{% endif %}
</div>
{% endblock %}