{% if orders %}
    <div class="row mt-5">
        <h2>{% if is_completed %}Выполненные заказы{% else %}Заказы в процессе выполнения{% endif %}</h2>
        <div class="row row-cols-1 row-cols-md-2 g-2">
            {% for order in orders %}
                <div class="col">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h5 class="card-title"><span class="badge bg-secondary">{{ order.auction.chosen_service.get_category_display }}</span> {{ order.auction.chosen_service.name }}</h5>
                            <h6 class="card-text">Исполнитель: <a href="">{{ order.company }}</a></h6>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                {% if is_completed %}
                                    Выполнено: {{ order.auction.datetime_end }}
                                {% else %}
                                    {% if order.auction.datetime_end %}
                                        Будет выполнено: {{ order.auction.datetime_end }}
                                    {% endif %}
                                {% endif %}
                            </small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}