{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="card bg-dark p-3 mb-3">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card-body">
        <div class="enter">
          <div class="forms">
            <div class="form login px-1">
              <h2>Change password</h2>
              <form class="form-signin" method="post">
                {% csrf_token %}
                {{ form.errors }}
                <div class="form-floating">
                  <input type="password" class="form-control" name="old_password" id="id_old_password" autofocus required placeholder="current-password">
                  <label for="id_old_password">Old password</label>
                </div>
                <div class="form-floating">
                  <input type="password" class="form-control" name="new_password1" id="id_new_password1" required placeholder="new-password">
                  <label for="id_new_password1">New password</label>
                </div>
                <div class="form-floating">
                  <input type="password" class="form-control" name="new_password2" id="id_new_password2" required placeholder="new-password">
                  <label for="id_new_password2">New password (again)</label>
                </div>
                <div class="mb-3 d-flex justify-content-center">
                  <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}