<div class="row mb-5">
  <h1>Hello, {{ representative.user.full_name }}</h1>
</div>

<div class="row g-3 mb-5">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4">
    <div class="card bg-dark">
      <h4 class="card-header">Your company</h4>
      <div class="card-body">
        <h5 class="card-title">{{ company.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ company.email }}</h6>
        <p class="card-text">{{ company.description }}</p>
        <p class="card-text">
          <strong>Services:</strong>
          {% for service in company.services.all %}
            {{ service.name }}
          {% endfor %}
        </p>
        <a href="{% url 'accounts:company_edit' company.pk %}" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-dark">
      <h4 class="card-header">Offers</h4>
      <div class="card-body">
        <div class="card-text mb-3">
          <ul class="list-group list-group-flush">
            {% for offer in offers %}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto my-auto">{{ offer }}</div>
                <div class="row g-1">
                  <div class="col">
                    <small>{{ offer.cost }}, {{ offer.order_datetime_end }}</small>
                  </div>
                </div>
              </li>
            {% empty %}
              You have no current offers.
            {% endfor %}
          </ul>
        </div>
        <a href="" class="btn btn-primary">Go to offers</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-dark">
      <h4 class="card-header">Orders</h4>
      <div class="card-body">
        <div class="card-text mb-3">
          <ul class="list-group list-group-flush">
            {% for order in orders %}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto my-auto">{{ order }}</div>
                <div class="row g-1">
                  <div class="col">
                    <small>{{ order.datetime_start }}</small>
                  </div>
                </div>
              </li>
            {% empty %}
              You have no current orders.
            {% endfor %}
          </ul>
        </div>
        <a href="" class="btn btn-primary">Go to orders</a>
      </div>
    </div>
  </div>
</div>